.Fondo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url("../../images/stars.svg");
    background-color: #000000;
    height: calc((100vh - 44px) - 1rem);
    color: white;
}

.Fondo h1 {
    font-size: 20vh;
}

.Fondo img {
    height: 50vh;
}
